/*************************************************************************
  _____      ______      __       ____       ____       _
||     \\   | _____|    //\\     | ___\\   / ____|    // \\
||      \\  ||__       //  \\    ||    || | |___    / /   \ \
||       || | __|     //____\\   ||___//   \ ____\ | |     | |
||      //  ||_____  //      \\  || \\     _____ || \ \   / /
||_____//   |______|//        \\ ||   \\  |_____ /    \\_//

Author: DearSO
GitHub: https://github.com/soph-k
Description: DearSO Portfolio

CSS TABLE OF CONTENTS
    ===== Base ====
        |-- 1.0 - Reset
        |-- 2.0 - Gobal
        |-- 3.0 - Navbar
        |-- 4.0 - About
        |-- 5.0 - Project
        |-- 6.0 - Footer
        |-- 7.0 - Responsive

*************************************************************************/



/*************************** 1.0 - Reset *************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************** 2.0 - Global ***********************/
* {
  font-family: "QuickSand";
  box-sizing: border-box; 
  padding: 0;
  margin:0; 
  
}

html {
  width: 100%;
  background: rgb(252, 246, 249);
  
}


/******************* 3.0 - Navbar *************************/
nav { 
  position: sticky;
  z-index: 1000;
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(255, 224, 241));
  border-right: rgb(3, 3, 3) .2em solid;
  border-bottom: rgb(3, 3, 3) .75em solid;
  top: 0;
  height: 5em ;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

nav ul {
  display: flex;
}

nav li  {
  padding: .2em 2.5em;
  margin: 1.5em 1em;
  font-size: 1.2em;
  border:rgba(255, 255, 255, 0) solid 2px;
}

nav img {
  margin: 0;
  padding: 0.2em;
  overflow: auto;
}

nav a:link, a:visited {
  color: rgb(14, 32, 48);
  text-decoration: none;
  text-align: center;
}

nav a:hover, a:active {
  text-decoration: underline;
}


/************************ 4.0 - About ********************/
#about {
  position: relative;
  width: 100%;
  height: 30em;
  background-image: url(../images/body.jpg);
  border-bottom: solid black .3em;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The two selectors below determin flex box layout */
.about_container_main { 
  display:flex;
  flex-flow: row-reverse;
  justify-items: center;
  align-items: center;
}

.about_container_section {
  margin: 6em 0em;
  width: 33.3%;
}

/* The two selectors below add style to the name area*/
.about_background {
  padding: 0 0 0 3em;
  background-image:linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 224, 241));
  border-radius: 10% 0% 0 10% ;
  border-top: 2px black solid;
  border-bottom: 10px black solid; 
}

.about_background h1{
  text-align:center;
  font-size: 2em;
  font-weight:100;
  padding: .3em 1em .3em 1em;
  overflow: hidden;
}

.about_bio {
  background-color: rgba(255, 242, 227, 0.8);
  border-radius: 0 10% 10% 0%;
  border-top:rgb(0, 0, 0) 2px solid;
  border-bottom:rgb(0, 0, 0) .75em solid; 
  min-height: 18em;
}

.about_bio h2 {
  padding: 1em 3em;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2;
}

.about_picture  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_picture img {
  border-radius: 100%;
  height: 20em;
  width: 20em;
  border:black solid 4px;
}

/************************ 5.0 - Project *********************/
#projects {
  position: relative;
  width: 100%;
}

.project_header {
  text-align: center;
  left: 0;
  background-image:linear-gradient(to left, rgb(255, 255, 255) , rgb(255, 224, 241));
  position:relative;
  border-radius: 0 10% 10% 0;
  border-top: 1px black solid;
  border-bottom: 5px black solid;
  text-align:center;
  font-size: 2.0em;
  font-weight:200;
  padding: .3em 6em;
  width: 30%;
  margin: 3em 0 2em 0;
}

/*project_1 section does not follow the ohter project flex-box style*/
.project_1 { 
  display: flex;
  justify-items: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1em;
  margin: 2em 0em 3em;
}

.project_1 img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 55em;
  height: 13em;
  border-radius: 5%;
}

.image_container_1 {
  position: relative;
  width: 55.5em;
  border: .5em solid black;
  border-radius: 10% 10% 0 0;
} 

 /*Add the main layout for flexbox for project 2&3 section*/
.project_container_main {
  position: relative;
  display:flex;
  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: center;
}

.project_2 {
  text-align: center;
  font-size: 1em;
  width: 50%;
}

.project_2 img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 25em;
  height: 9em;
  border-radius: 5%;
}

.project_3 {
  text-align: center;
  font-size: 1em;
  flex-flow: row wrap;
  width: 50%;
}

.project_3 img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 25em;
  height: 9em;
  border-radius: 5%;
}


.image_container {
  position: relative;
  width: 25.5em;
  border: .25em solid black;
  border-radius: 10% 10% 0 0;
} 

/*Added to all projects regardless of flex-box*/ 
.image_title {
  position: absolute;
  bottom: 0;
  background: rgb(224, 197, 221);
  border-radius: 0 10% 0 0;
  color: #f1f1f1;
  width: 100%;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

img a:hover {
  background-color: rgba(66, 43, 2, 0.432);
  z-index: 10000;
}

/************************ 6.0 - Footer ********************/
footer {
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgb(255, 224, 241));
  border-top: rgb(3, 3, 3) 0.15em solid;
  border-right: rgb(3, 3, 3) .5em solid;
  border-left: rgb(3, 3, 3) .5em solid;
  width: 100%;
  height: 4em;
  padding: 0;
  position: sticky;
  justify-content: space-evenly;
  margin-top: 10em;
}

footer ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  padding: 1em .5em .5em .5em ;
}

footer a:link, a:visited {
  color: rgb(14, 32, 48);
  text-decoration: none;
  text-align: center;
}

footer a:hover, a:active {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline black 2px;
}


/*********************** 7.0 Responsive *******************/

@media screen and (max-width:1092px) {
  nav {
    height: 10em;
  }

  nav ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav li {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .nav_section {
    width: 100%;
    flex-direction: column;
  }

  nav img {
    display:none;
  }

  #about {
    height: 60em;
  }

  .about_container_main {
    display: flex;
    flex-direction: column;
  }

  .about_container_section {
    width: 100%;
    margin: 1.5em 0;
  }

  .project_container_main {
    flex-direction: column;
  }

  footer{
    height: 8em;
  }

  footer ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  footer li {
    display:flex;
    padding: .25em;
    justify-items: center;
  }

  
}


