/*************************************************************************
  _____      ______      __       ____       ____       _
||     \\   | _____|    //\\     | ___\\   / ____|    // \\
||      \\  ||__       //  \\    ||    || | |___    / /   \ \
||       || | __|     //____\\   ||___//   \ ____\ | |     | |
||      //  ||_____  //      \\  || \\     _____ || \ \   / /
||_____//   |______|//        \\ ||   \\  |_____ /    \\_//

Author: DearSO
GitHub: https://github.com/soph-k
Description: Contact Fourm

CSS TABLE OF CONTENTS
    ===== Base ====
        |-- 1.0 - Reset
        |-- 2.0 - Gobal
        |-- 3.0 - Navbar
        |-- 4.0 - Hero
        |-- 5.0 - Header
            -- 5.1 - SEO Content Image
        |-- 6.0 - Side Bar Content
            -- 6.1 - Side Bar Content Image
        |-- 7.0 - Footer

    ===== Pages ====

*************************************************************************/



/*************************** 1.0 - Reset *************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************** 2.0 - Global ***********************/
* {
  font-family: "QuickSand";
  box-sizing: border-box; 
  padding: 0;
  margin:0; 
  
}

html {
  width: 100%;
  background: rgb(252, 246, 249);
  
}


/******************* 3.0 - Navbar *************************/
nav { 
  position: sticky;
  z-index: 1000;
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(255, 224, 241));
  border-right: rgb(3, 3, 3) .2em solid;
  border-bottom: rgb(3, 3, 3) .75em solid;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

nav ul {
  padding:0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li  {
  display: flex;
  justify-content: space-evenly;
  padding: .2em 2.5em;
  margin: 1.5em 1em;
  font-size: 1.2em;
  border-radius: 40% 0 40% 0;
  border:rgba(255, 255, 255, 0) solid 2px;
}

nav img {
  margin: 0;
  padding: 0.2em;
  overflow: auto;
}

nav a:link, a:visited {
  color: rgb(14, 32, 48);
  text-decoration: none;
  text-align: center;
}

nav a:hover, a:active {
  text-decoration: underline;
}


/************************ 4.0 - Hero ********************/
#about {
  position: relative;
  width: 100%;
  height: 40em;
  background-image: url(../images/body.jpg);
  border-bottom: solid black .3em;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about_container_main {
  display:flex;
  flex-flow: row-reverse;
  justify-items: center;
  align-items: center;
  padding: .25em;
  
}

.about_container_section {
  margin: 6em 0em;
  flex: 1;
  width: 33.3%;
}

.about_background {
  padding: 0 0 0 3em;
  background-image:linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 224, 241));
  border-radius: 10% 0% 0 10% ;
  border-top: 2px black solid;
  border-bottom: 10px black solid;
  height: 6em;
}

.about_background h1{
  text-align:center;
  font-size: 2em;
  font-weight:100;
  padding: .3em 1em .3em 1em;
  overflow: hidden;
}

.about_bio {
  background-color: rgba(255, 242, 227, 0.8);
  border-radius: 10% 10% 10% 10%;
  border-top:rgb(0, 0, 0) 2px solid;
  border-bottom:rgb(0, 0, 0) .75em solid; 
  min-height: 18em;
}

.about_bio h2 {
  flex-shrink: 2;
  padding: 1em 3em;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2;
}

.about_picture  {
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.about_picture img {
  border-radius: 100%;
  height: 18em;
  width: 18em;
  border:black solid 4px;
}

/************************ 4.0 - Project *********************/
#projects {
  position: relative;
  width: 100%;
}

.project_header {
  text-align: center;
  left: 0;
  background-image:linear-gradient(to left, rgb(255, 255, 255) , rgb(255, 224, 241));
  position:relative;
  border-radius: 0 10% 10% 0;
  border-top: 1px black solid;
  border-bottom: 5px black solid;
  text-align:center;
  font-size: 2.0em;
  font-weight:200;
  padding: .3em 6em;
  width: 30%;
  margin: 3em 0 2em 0;
}

.project_1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1em;
  margin: 2em 0em 7em;
}

.project_1 img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 35em;
  height: 15em;
  border-radius: 5%;
}

.project_container_main a {
  position: relative;
  display:flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.project_2 a {
  text-align: center;
  font-size: 1em;
  flex-flow: row wrap;
  width: 50%;
}

.project_2 img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 35em;
  height: 15em;
  border-radius: 5%;
}

.project_3 a {
  text-align: center;
  font-size: 1em;
  flex-flow: row wrap;
  width: 50%;
}

#project_3 img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 35em;
  height: 15em;
  border-radius: 5%;
}

.image_container {
  position: relative;
  width: 100%;
  width: 36em;
  border: .5em solid black;
  border-radius: 10% 10% 0 0;
}

.image_title{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  border-radius: 0 10% 0 0;
  color: #f1f1f1;
  width: 100%;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image_container a:hover, a:active {
  background-color: rgba(238, 230, 216, 0.432);
  transition: .5s ease;
}

/************************ 5.0 - Footer ********************/
footer {
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgb(255, 224, 241));
  border-top: rgb(3, 3, 3) 0.15em solid;
  border-right: rgb(3, 3, 3) .5em solid;
  border-left: rgb(3, 3, 3) .5em solid;
  width: 100%;
  height: 4em;
  padding: 0;
  position: sticky;
  justify-content: space-evenly;
  margin-top: 10em;
}

footer ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  padding: 1em .5em .5em .5em ;
}

footer a:link, a:visited {
  color: rgb(14, 32, 48);
  text-decoration: none;
  text-align: center;
}

footer a:hover, a:active {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline black 2px;
}


/*********************** Responsive *******************/
@media screen and (max-width:992px) { 

} 


@media screen and (max-width:768px) {
  
  nav li,
  .about_container_section {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  .about_container_section {
    width: 100%
  }
  .project_2 {
    height: 100%;
}